body{
	
}

.PhotoBlock{
	//border: 1px dashed blue;
	width: 100%;
	max-width: 600px;
	margin: auto;
}
.PhotoBlock_albumName{
	//border: 1px dashed red;
	text-align: center;
	opacity: 0;
	transition: 1s;
	
	&--show{
		opacity: 1;
	}
}

.PhotoNav{
	//border: 1px dashed green;
	text-align: center;
}
.PhotoNav_link{
	display: inline-block;
	//border: 1px dashed purple;
	padding: 10px;
	transition: .5s;

	&:hover{
		background: lightblue;
	};
}

.PhotoGrid{
	width: 100%;
	position: relative;
	//border: 1px dashed red;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	
	opacity: 0;
	transition: 1s;

	&--show{
		opacity: 1;
	}
}
.PhotoGrid_img-wrapper{
	@size : 30%;
	@ratio: 1;
	@ratioPercent: @size/@ratio;

	position: relative;
	margin: 5px;
	flex: 0 0 @size;
	max-width: @size + "px";
	//border: 1px solid green;
	overflow: hidden;
	padding-bottom: @ratioPercent;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);

	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.PhotoGrid_img{
	position: absolute;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Popup{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 1s;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background: rgba(0,0,0,0.3);

	&--show{
		opacity: 1;
	}
}

.Popup_img{
	//padding: 50px;
	//box-sizing: padding-box;
	max-width: 100%;
	max-height: 100%;
}
